* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  height: 100vh;

  display: grid;
  grid-template:
    "header header header" auto
    ". main ." 1fr
    "footer footer footer" auto /
    1fr auto 1fr;
}

.main-header,
.footer {
  background-color: rgb(8, 114, 13);

  height: 5rem;
}

.main-header {
  grid-area: header;

  display: grid;
  place-items: center;

  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 4px rgba(10, 10, 10, 0.5);

  color: white;
}

.main-container {
  grid-area: main;
  max-width: 600px;
}

section {
  margin: 25px;
}

.quotes {
  grid-area: quotes;

  padding: 10px;
}

.section-title {
  text-align: left;
  text-transform: capitalize;

  font-family: serif;
  font-size: 2rem;

  margin-bottom: 8px;
}

.quote-card {
  padding: 45px;
  margin: 20px;

  background-color: honeydew;

  border-radius: 5px;
  box-shadow: 1px 1px 10px 0 rgba(0, 128, 0, 0.2);
}

.quote-line p {
  text-align: justify;

  font-size: 20px;
  line-height: 2;
}

.quote-author {
  margin-top: 10px;

  text-align: right;
  font-weight: bold;
  font-family: "Viaoda Libre", cursive;
  letter-spacing: 2px;
}

.footer {
  grid-area: footer;

  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
}

.footer-icon {
  margin: 10px;
  color: white;

  font-weight: bold;
  font-size: 1rem;

  text-shadow: 1px 4px 10px rgba(10, 10, 10, 0.7);
}
